.added-meals-container {
  display: flex;
  flex-direction: column;
  /* width: 100px; */
  position: relative;
  .mealsWithoutIngredients{
    .warning{
      background-color: rgb(180, 54, 54);
      padding: 4px;
      border-radius: 5px;
    }
  }
  .dropdown-button{
    position: absolute;
    z-index: 10;
    top:10px;
    left:-30px;
  }
  .keys-container {
    /* background-color: grey; */
    color: rgb(112, 112, 112);
  }
  .main-ingredients-main-container{
    display: flex;
    flex-direction: column;
  }
  .ingredient-container-child:nth-child(odd){
    background-color: var(--secondary);
  }
  .meal-for-ingredient-dropdown{
    margin-left: 25px;
  }
  .main-ingredients-items-container {
    display: flex;
    gap: 5px;
    align-items: center;
    .dropdown-column {
      width: 20px;
      display: flex;
    }
    .count {
      width: 50px;
    }
    .ingredient-name {
      width: 150px;
    }
    .unit-container {
      display: flex;
      gap: 0px;

      .quantity {
        width: 40px;
      }
    }
  }
  .main-ingredients-header {
    margin-bottom: 10px;
      position: relative;
      .dropdown-button{
        position: absolute;
        z-index: 10;
        top:0px;
        left:-30px;
      }
  }

  .analysis-container {
    display: flex;
    gap: 0px;
  }
}
