.added-meals-container {
  display: flex;
  flex-direction: column;
  /* width: 100px; */
  .keys-container {
    /* background-color: grey; */
    color: rgb(112, 112, 112);
  }
  .meal-for-ingredient-dropdown{
    margin-left: 25px;
  }
  .main-ingredients-items-container {
    display: flex;
    gap: 5px;
    .dropdown-column {
      width: 20px;
      display: flex;
    }
    .count {
      width: 50px;
    }
    .ingredient-name {
      width: 80px;
    }
    .unit-container {
      display: flex;
      gap: 0px;

      .quantity {
        width: 40px;
      }
    }
  }
  .main-ingredients-header {
    margin-bottom: 10px;
  }

  .analysis-container {
    display: flex;
    gap: 0px;
  }
}
