.CalendarV2 {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  .calendarv2--row-value {
    margin-bottom: 10px;
  }
  #empty {
    border: 3px var(--secondary) dashed;
    box-sizing: border-box;
    margin: 6px;
  }
  #taken {
    /* border: 3px transparent dashed; */
    /* box-sizing: border-box; */
  }

  .calendarv2--row {
    display: flex;
    gap: 5px !important;
    justify-content: end;
    font-size: 12px;
    .calendarv2--column-key {
      display: flex;
      align-items: center;
      justify-content: center;
      height: fit-content;
      height: 20px;
      width: 60px;
      box-sizing: border-box;

      border: 3px transparent dashed;
    }
    .calendarv2--extra-meals {
      width: 30px;
      display: flex;
      align-items: center;
    }
    .calendarv2--row-key {
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      /* height: 100px; */
    }

    .calendarv2--item-value {
      width: 60px;
      height: fit-content;
      /* height: 100px; */
      /* border: 3px black dashed; */
      display: flex;
      flex-direction: column;
      .slot-item {
        height: 60px;
        /* margin: 5px; */
    .calendar-draggable-variant{
        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }  
    }
    }
  }
}
