.MealsWithSharedIngredients{
  position: relative;

}
.recommened-meals-scroll{
  /* height: 480px; */
  margin-bottom: 155px;
  .sticky-recommened{
    position: sticky;
    top:0;
  }
}
.reccomendations-by-ingredient-item-container {
  display: flex;
  gap: 5px;
  position: relative;
  .dropdown-button{
    /* position: absolute;
    z-index: 10;
    top:1px;
    left:-30px; */
  }
}


.recomendation-by-ingredient-container {
  width: 250px;
}
h2{
  position: relative;
  .dropdown-button-recommended{
    position: absolute;
    z-index: 10;
    top:8px;
    left:-30px;
  }
}
.dropdown-recommendation-container:nth-child(odd){
  background-color: var(--secondary);
}
.dropdown-recommendation-container {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 2s ease-in-out all;
  /* background-color: rgb(112, 112, 112)  */
}
.recomended-dropdown-content {
  display: flex;
  gap: 5px;
  flex-wrap: wrap; /* Allows items to wrap to the next line when overflowing */
  /* width: 200px; */
  /* animation: shrinkY 1s ease forwards; */
  /* overflow: hidden; */

  .meal-recommeneded-item {
  }
}
.hide-added-meals-container {
  color: grey;
  display: flex;
  align-items: center;
  gap: 10px;
}
.recommended-meals-container {
  display: flex;
  gap: 5px;
  flex-wrap: wrap; /* Allows items to wrap to the next line when overflowing */
  width: 200px;
}
/* .recommended-grid-container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(min-content, 50px));
}

.recommended-grid-item {
  font-size: 1.2em;
  text-align: center;
  color: white;
  overflow: hidden;
} */
