.shopping-list {
  .keys-container {
    /* background-color: grey; */
    color: rgb(112, 112, 112);
  }
  .main-ingredients-items-container {
    display: flex;
    gap: 5px;
    .checkbox {
      width: 20px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
    .count {
      width: 50px;
    }
    .ingredient-name {
      display: flex;
      align-items: center;
      width: 80px;
    }
    .unit-container {
      display: flex;
      gap: 0px;
      
      .quantity {
        width: 40px;
      }
    }
  }
  .main-ingredients-header {
    margin-bottom: 10px;
  }

  .shopping-list-flex {
    display: flex;
    gap: 20px;
    .unit-flex {
      display: flex;
      gap: 20px;
    }
  }
}
